* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

body {  
  height: 100vh;
  width: 100vw;
  background-color: #24292d;
}

#animationBox {
  display: none;
  position: relative;
  height: 400px;
  width: 400px;
  left: 10%;
  top: 20%;
  opacity: 0;
  transition: opacity 5s, bottom 3s, right 3s;
  z-index: -500;
  animation: spin 100s infinite linear;
  transform-origin: center;
  scale: 1.2;
}

#artBoard {
  position: relative;
  bottom: 40%;
  height: 55%;
  width: 100%;
  display: none;
}

#vertNav {
  position: absolute;
  right: 0;
  margin-right: 10%;
  bottom: 30%;
  display: none;
  opacity: 0;
  flex-direction: column;
  height: 40vh;
  width: 20%;
  justify-content: space-between;
  vertical-align: center;
  text-align: center;
  color: #939597;
  font-family: "Raleway";
  font-size: 1em; 
  transition: opacity 2s
}

.fadeIn_fadeOut {
  transition: opacity 1s;
}

//STYLES FOR SCREENS LESS THAN 600PX
@media screen and (max-width: 600px) {

  //NAVIGATION BAR
  
  #navbar {
    background-color: #939597;
    width: 100vw;
    display: flex;
    height: 15%;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    flex-direction: row;
    font-family: "Raleway";
    font-weight: 600;
    opacity: 0.6;
    z-index: 5000;
  }

  #navbar p {
    width: 150px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 4px;
    color: black;
    text-shadow: 3px 2px 30px #0D0D0D;
    z-index: 500;
  }

  #navbar p:hover{
    font-size: 1.35em;
    cursor: pointer;
  }  

  //ANIMATION BOX

  #animationBox {
    position: relative;
    display: none;
    opacity: 0;
    z-index: -5000;
    height: 60%;
    width: 400px;
    transition: opacity 5s;
    text-align: center;
    animation: spin 100s infinite;
    scale: 0.7;
    top: 150px;
  }

  #artBoard {
    position: absolute;
    scale: 0.7;
    opacity: 0.5;
    bottom: 146px;
    height: 400px;
    width: 100%;
    right: 10%;
  } 
}

//STYLES FOR SCREENS LESS THAN 860

@media screen and (min-width: 601px) and (max-width: 860px) {

  * {
    overflow-x: hidden;
  }

  #navbar {
    display: none;
  }     

  #vertNav {
    position: absolute;
    left: 80%;
    bottom: 30%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 20%;
    justify-content: space-between;
    vertical-align: center;
    text-align: center;
    color: #939597;
    font-family: "Raleway";
    font-size: 1em; 
  }

  #vertNav h2 {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    height: 40px;
    transition: font-size .25s;
  }

  #vertNav h2:hover {
    display: inline-flex;
    cursor: pointer;
    font-size: 2em;
  }

  #animationBox {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 15%;
    margin-left: -10%;
    transition: opacity 5s, bottom 3s, right 3s;
    z-index: -500;
    animation: spin 100s infinite linear;
    transform-origin: center;
    scale: 0.9;
  }

  #artBoard {
    position: relative;
    bottom: 40%;
    height: 55%;
    width: 100%;
    display: none;
  }

  
}

@media screen and (min-width: 861px) and (max-width: 1900px) {
  #navbar {
    display: none;
  } 

  #vertNav {
    position: absolute;
    right: 0;
    bottom: 30%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 20%;
    justify-content: space-between;
    vertical-align: center;
    text-align: center;
    color: #939597;
    font-family: "Raleway";
    font-size: 1em; 
  }

  #vertNav h2 {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    height: 40px;
    transition: font-size .25s;
  }

  #vertNav h2:hover {
    display: inline-flex;
    cursor: pointer;
    font-size: 2em;
  }  

  #vertNav {
    position: absolute;
    right: 0;
    margin-right: 10%;
    bottom: 30%;
    display: none;
    opacity: 0;
    flex-direction: column;
    height: 40vh;
    width: 20%;
    justify-content: space-between;
    vertical-align: center;
    text-align: center;
    color: #939597;
    font-family: "Raleway";
    font-size: 1em; 
    transition: opacity 2s
  }

  
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@keyframes flip {
  0% { transform: rotateY(0deg) }
  50% { transform: rotateY(540deg) }
  100% { transform: rotateY(720deg) }
}

@keyframes grow {
  0% { width: 0px; height: 1px;}
  75% {width: 300px; height: 5px}
  100% { width: 300px;  height: 300px; }
}
